name: mlops-sagemaker
toolchainRegion: us-east-1
forceDependencyRedeploy: true
groups:
  - name: networking
    path: manifests/mlops-sagemaker/networking-modules.yaml
  - name: storage
    path: manifests/mlops-sagemaker/storage-modules.yaml
  - name: sagemaker-studio
    path: manifests/mlops-sagemaker/sagemaker-studio-modules.yaml
  - name: sagemaker-templates
    path: manifests/mlops-sagemaker/sagemaker-templates-modules.yaml
  - name: sagemaker-kernels
    path: manifests/mlops-sagemaker/kernels-modules.yaml
targetAccountMappings:
  - alias: primary
    accountId:
      valueFrom:
        envVariable: PRIMARY_ACCOUNT
    codebuildImage: aws/codebuild/standard:7.0
    default: true
    regionMappings:
      - region: us-east-1
        default: true
