name: studio
path: git::https://github.com/awslabs/aiops-modules.git//modules/sagemaker/sagemaker-studio?ref=release/1.9.0&depth=1
targetAccount: primary
parameters:
  - name: vpc_id
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: VpcId
  - name: subnet_ids
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: PrivateSubnetIds
  - name: data_science_users
    value:
      - ds-user-1
  - name: lead_data_science_users
    value:
      - lead-ds-user-1
  - name: server_lifecycle_name
    value: studio-auto-shutdown
  - name: studio_bucket_name
    value: mlops-*
  - name: retain_efs
    value: 'False'
  - name: enable_custom_sagemaker_projects
    value: 'True'
  - name: enable_jupyterlab_app
    value: 'True'
  - name: mlflow_enabled
    value: 'True'
  - name: mlflow_artifact_store_bucket_name
    valueFrom:
      moduleMetadata:
        group: storage
        name: buckets
        key: ArtifactsBucketName
  - name: mlflow_artifact_store_bucket_prefix
    value: "mlflow/"
  - name: enable_docker_access
    value: 'True'
