name: mlflow-image
path: git::https://github.com/awslabs/aiops-modules.git//modules/mlflow/mlflow-image?ref=release/1.7.0&depth=1
targetAccount: primary
parameters:
  - name: ecr-repository-name
    valueFrom:
      moduleMetadata:
        group: storage
        name: ecr-mlflow
        key: EcrRepositoryName
