name: mlflow-ai-gw-image
path: git::https://github.com/awslabs/aiops-modules.git//modules/mlflow/mlflow-ai-gw-image?ref=release/2.1.2&depth=1
targetAccount: primary
parameters:
  - name: ecr-repository-name
    valueFrom:
      moduleMetadata:
        group: storage
        name: ecr-mlflow-ai-gw
        key: EcrRepositoryName
