# This is an example manifest.
# Replace the parameters in referenced manifest groups with your values prior the deployment.
name: aiops
toolchainRegion: us-east-1
forceDependencyRedeploy: true
groups:
  - name: networking
    path: examples/manifests/networking-modules.yaml
  - name: sagemaker-endpoints
    path: examples/manifests/sagemaker-endpoints-modules.yaml
  - name: events
    path: examples/manifests/event-bus-modules.yaml
  - name: registry
    path: examples/manifests/sagemaker-model-package-group-modules.yaml
  - name: promote-models
    path: examples/manifests/sagemaker-model-package-promote-pipeline-modules.yaml
  - name: personas
    path: examples/manifests/personas-modules.yaml
  - name: fmops
    path: examples/manifests/fmops-modules.yaml
targetAccountMappings:
  - alias: primary
    accountId:
      valueFrom:
        envVariable: PRIMARY_ACCOUNT
    default: true
    regionMappings:
      - region: us-east-1
        default: true
  - alias: tooling
    accountId:
      valueFrom:
        envVariable: TOOLING_ACCOUNT
    regionMappings:
      - region: us-east-1
        default: true