# This is an example manifest.
# Replace the parameters in referenced manifest groups with your values prior the deployment.
name: mlops
toolchainRegion: us-east-1
forceDependencyRedeploy: true
groups:
  - name: networking
    path: examples/manifests/networking-modules.yaml
  - name: sagemaker-endpoints
    path: examples/manifests/sagemaker-endpoints-modules.yaml
  - name: events
    path: manifests/sagemaker-model-event-bus.yaml
  - name: registry
    path: manifests/sagemaker-model-package-group-modules.yaml
  - name: promote-models
    path: manifests/sagemaker-model-package-promote-pipeline-modules.yaml
  - name: storage
    path: examples/manifests/storage-modules.yaml
  - name: qna-rag
    path: examples/manifests/qna-rag-modules-local.yaml

targetAccountMappings:
  - alias: primary
    accountId:
      valueFrom:
        envVariable: PRIMARY_ACCOUNT
    default: true
    regionMappings:
      - region: us-east-1
        default: true
  - alias: tooling
    accountId:
      valueFrom:
        envVariable: TOOLING_ACCOUNT
    regionMappings:
      - region: us-east-1
        default: true