name: jumpstart-hf-asrwhisper-endpoint
path: git::https://github.com/awslabs/aiops-modules.git//modules/fmops/sagemaker-jumpstart-fm-endpoint?ref=release/1.9.0&depth=1
targetAccount: primary
parameters:
  - name: jump-start-model-name
    value: HUGGINGFACE_ASR_WHISPER_BASE_2_0_0
  - name: instance-type
    value: ml.g5.2xlarge
  - name: vpc_id
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: VpcId
  - name: subnet_ids
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: PrivateSubnetIds
