name: source-model-package-group
path: git::https://github.com/awslabs/aiops-modules.git//modules/sagemaker/sagemaker-model-package-group?ref=release/2.0.0&depth=1
targetAccount: primary
parameters:
  - name: model_package_group_name
    value: mlops-test-model-group-source
  - name: target_event_bus_arn
    valueFrom:
      moduleMetadata:
        group: events
        name: event-bus
        key: EventBusArn
  - name: target_account_ids
    value: '["444333222555"]'  # Accounts that must have read-only permissions on the model pkg group
  - name: sagemaker_project_id
    value: 123123
  - name: sagemaker_project_name
    value: test
---
name: target-model-package-group
path: git::https://github.com/awslabs/aiops-modules.git//modules/sagemaker/sagemaker-model-package-group?ref=release/2.0.0&depth=1
targetAccount: tooling
parameters:
  - name: model_package_group_name
    value: mlops-test-model-group-tooling
  - name: model_package_group_description
    value: Test model package group module - Target
  - name: target_account_ids
    value: '["111222333444"]'  # Accounts that must have read-only permissions on the model pkg group
  - name: sagemaker_project_id
    value: 123123
  - name: sagemaker_project_name
    value: test
