name: mwaa
path: git::https://github.com/awslabs/idf-modules.git//modules/orchestration/mwaa?ref=release/1.4.1&depth=1
# targetAccount: primary
dataFiles:
  - filePath: data/mwaa/requirements/requirements.txt
parameters:
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: VpcId
  - name: private-subnet-ids
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: PrivateSubnetIds
  - name: airflow-version
    value: "2.8.1"
  - name: custom-requirements-path
    value: data/mwaa/requirements/requirements.txt