name: ecr-mlflow
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/ecr?ref=release/1.3.0&depth=1
parameters:
  - name: repository_name
    value: "ecr-mlflow"
---
name: buckets
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/buckets?ref=release/1.3.0&depth=1
targetAccount: primary
targetRegion: us-east-1
parameters:
  - name: encryption-type
    value: SSE
  - name: retention-type
    value: RETAIN
---
name: mlflow-mysql
path: git::https://github.com/awslabs/idf-modules.git//modules/database/rds?ref=46e88c9a8364448c11154bdce7fed78c4b3988dd&depth=1
targetAccount: primary
parameters:
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: VpcId
  - name: subnet-ids
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: PrivateSubnetIds
  - name: engine
    value: mysql
  - name: engine-version
    value: 8.0.35
  - name: instance-type
    value: t2.small
  - name: admin-username
    value: admin
  - name: credential-rotation-days
    value: 30
  - name: removal-policy
    value: DESTROY
