name: ecr-mlflow
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/ecr?ref=release/1.10.0&depth=1
targetAccount: primary
parameters:
  - name: image-tag-mutability
    value: MUTABLE
  - name: image-scan-on-push
    value: True
  - name: encryption
    value: KMS_MANAGED
  - name: removal-policy
    value: DESTROY
---
name: ecr-sagemaker-kernel
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/ecr?ref=release/1.10.0&depth=1
targetAccount: primary
parameters:
  - name: image-tag-mutability
    value: MUTABLE
  - name: image-scan-on-push
    value: True
  - name: encryption
    value: KMS_MANAGED
  - name: removal-policy
    value: DESTROY
---
name: buckets
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/buckets?ref=release/1.7.0&depth=1
targetAccount: primary
parameters:
  - name: encryption-type
    value: SSE
  - name: retention-type
    value: DESTROY
---
name: mlflow-mysql
path: git::https://github.com/awslabs/idf-modules.git//modules/database/rds?ref=release/1.7.0&depth=1
targetAccount: primary
parameters:
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: VpcId
  - name: subnet-ids
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: PrivateSubnetIds
  - name: engine
    value: mysql
  - name: engine-version
    value: 8.0.35
  - name: instance-type
    value: t3.small
  - name: database-name
    value: mlflowdb
  - name: admin-username
    value: admin
  - name: credential-rotation-days
    value: 30
  - name: removal-policy
    value: DESTROY
---
name: opensearch
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/opensearch?ref=release/1.7.0&depth=1
targetAccount: primary
targetRegion: us-east-1
parameters:
  - name: encryption-type
    value: SSE
  - name: retention-type
    value: RETAIN
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: VpcId
  - name: private-subnet-ids
    valueFrom:
      moduleMetadata:
        group: networking
        name: networking
        key: PrivateSubnetIds
