name: model  # replace with name of the ML model you prefer
path: git::https://github.com/awslabs/aiops-modules.git//modules/sagemaker/sagemaker-model-cicd?ref=release/1.7.1&depth=1
targetAccount: tooling
parameters:
  - name: infra-repo
    value:
      host: codecommit
      name: mlops-infra-repo
  - name: model-build-repo
    value:
      host: codecommit
      name: mlops-build-repo
  - name: deployment-groups
    value:
      - name: experimentation
        sourceBranch: dev
        buildEnvironment:
          name: dev
          account: "REPLACE_WITH_DEV_ACCOUNT"
          region: us-east-1
          type: dev
