name: ecr-sagemaker-kernel
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/ecr?ref=release/1.11.0&depth=1
targetAccount: dev
parameters:
  - name: image-tag-mutability
    value: MUTABLE
  - name: image-scan-on-push
    value: True
  - name: encryption
    value: KMS_MANAGED
  - name: removal-policy
    value: DESTROY
---
name: buckets
path: git::https://github.com/awslabs/idf-modules.git//modules/storage/buckets?ref=release/1.11.0&depth=1
targetAccount: dev
parameters:
  - name: encryption-type
    value: KMS
  - name: retention-type
    value: DESTROY
