name: eks
path: git::https://github.com/awslabs/idf-modules.git//modules/compute/eks?ref=release/1.7.0&depth=1
dataFiles:
  - filePath: git::https://github.com/awslabs/idf-modules.git//data/eks_dockerimage-replication/versions/1.29.yaml?ref=release/1.7.0&depth=1
  - filePath: git::https://github.com/awslabs/idf-modules.git//data/eks_dockerimage-replication/versions/default.yaml?ref=release/1.7.0&depth=1
parameters:
  - name: vpc-id
    valueFrom:
      moduleMetadata:
        group: base
        name: networking
        key: VpcId
  - name: controlplane-subnet-ids
    valueFrom:
      moduleMetadata:
        group: base
        name: networking
        key: PrivateSubnetIds
  - name: dataplane-subnet-ids
    valueFrom:
      moduleMetadata:
        group: base
        name: networking
        key: PrivateSubnetIds
  - name: eks-admin-role-name
    value: Admin
  - name: eks-poweruser-role-name
    value: PowerUser
  - name: eks-read-only-role-name
    value: ReadOnly
  - name: eks-version
    value: "1.29"
    # valueFrom:
    #   envVariable: GLOBAL_EKS_VERSION
  - name: eks-compute
    value:
      eks_nodegroup_config:
        - eks_ng_name: ng1
          eks_node_quantity: 2
          eks_node_max_quantity: 5
          eks_node_min_quantity: 1
          eks_node_disk_size: 50
          eks_node_instance_type: "m5.large"
        - eks_ng_name: ng-gpu
          eks_node_quantity: 0
          eks_node_max_quantity: 2
          eks_node_min_quantity: 0
          eks_node_disk_size: 100
          eks_node_instance_type: "g4dn.xlarge"
          # eks_node_labels:
          #   usage: gpu
          use_gpu_ami: True
      eks_node_spot: False
      eks_secrets_envelope_encryption: False
      eks_api_endpoint_private: False
  - name: eks-addons
    value:
      deploy_cluster_autoscaler: True # We deploy it unless set to False
      deploy_metrics_server: True # We deploy it unless set to False
