name: Check YAML Files
permissions:
  contents: read

on:
  workflow_dispatch:

  push:
    branches:
      - "main"

  pull_request:
    branches:
      - "main"
      - "release/*"
      - "stable"

jobs:
  lint:
    name: YAML Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install yamllint
        run: uv pip install --system yamllint

      - name: Lint YAML files
        run: yamllint --format github -d "{extends: default, ignore: ['*chart*']}" .
